@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
} 

*{
    box-sizing: border-box;
    margin: 0px;
}

header{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 0.1px solid #f9e708;
    background-color: #ffff00;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

header .portofolio-logo{
    margin-top: 10px;
    color: black;
    }

header .portofolio-logo a{
    text-decoration: none;
    }

header .row{
    justify-content: space-between;
    align-items: center;
}   

header .navbar ul li a:hover {
    font-weight: bold;
 }
 

header .navbar ul{
    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
    
}

header .navbar ul li a:hover {
    font-weight: bold;
    color: black;
 }

header .navbar ul li a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: black;
    position: relative;
    font-weight: 600px;
}

header .navbar ul li a.active{
    color: black;
    font-weight: bold;
}

header .navbar ul li a::before{
    content: '';
    height: 4px;
    background-color: black;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header .navbar ul li a:hover::before{
    width: 100%;
    left: 0%;
}

header .navbar ul li a.active::before{
    width: 100%;
    left: 0%;
}

.container{
    max-width: 1240px;
    margin: auto;
}

.foto{
    min-height: 73vh;
    background-image: url("img/foto/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ffff00;
    padding: 30px 0 0 0;

}

.foto .full-screen{
    
    min-height: 73vh;

}


.foto .isi-banner{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.foto .isi-banner .block{
    flex: 0 0 75%;
    max-width: 75%;
    border-left: 5px solid #000000;
    padding-left: 35px;
    margin-top: 50px;
}

.foto .isi-banner .block .hello{
    color: #53DD6C;
    font-weight: 900;
    display: inline;
    font-size: 20px;
}

.foto .isi-banner .block h1{
    color: black;
    font-size: 55px;
    letter-spacing: 4px;
    font-weight: 900;
    margin: 0 0 10px;
}

.foto .isi-banner .block h3{
    color: black;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 0 0 10px;
    
}

.foto .isi-banner .block h4{
    color: black;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 0 0 10px;
}

.foto .isi-banner .block .cv-btn{
    display: inline;
    text-decoration: none;
}

.foto .isi-banner .block .cv-btn a{
    border-radius: 5px;
    color: black;
    border: 1px solid #000000;
    padding: 12px 25px;
    display: inline-block;
    text-decoration: none;
    transition: all. 5% ease;
}

.foto .isi-banner .block .cv-btn a:hover{
    font-weight: bold;
    border: 2px solid #000000;
}


.foto .isi-banner .block .social-media a{
    width: 30px;
    display: inline-block;
    margin: 10px 0px 10px  0px;
}

.foto .isi-banner .block .social-media a:hover{
    transform: scale(1.5);
}

.profile{
   padding: 30px 15px;
   background-color: #212121;
   max-width: 100%;
}

.profile .section-title{
   flex: 0 0 100%;
   color: white;
   margin-bottom: 35px;
}

.profile .section-title h1{
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

.profile .section-title h1::before{
     content: '';
     left: 0;
     position: absolute;
     height: 2px;
     right: 20%;
     background-color: #f9e708;
     bottom: 0px;
}

.profile .section-title p.small{
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #53DD6C;
}

.profile .profile-content p.intro{
    color: white;
    text-align: justify;
    font-weight: 100;

}
.profile .Current-focus{
    margin-top: 35px;
    color: white;
}

.profile .Current-focus h1{
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 5px;
    letter-spacing: 2px;
   
}

.profile .Current-focus h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 35%;
    background-color: #f9e708;
    bottom: 0px;
}

.profile .Current-focus p{
    margin-top: 20px;
    text-align: justify;
}

.profile{
    padding: 30px 15px;
    background-color: #212121;
    max-width: 100%;
 }

.section-title{
    flex: 0 0 100%;
    color: black;
    margin: 20px 0 35px 0;
 }

.section-title h1{
     display: inline-block;
     font-size: 25px;
     text-transform: uppercase;
     font-weight: 900;
     margin: 0 0 10px;
     position: relative;
     padding-bottom: 5px;
     letter-spacing: 2px;
 }
 
.section-title h1::before{
      content: '';
      left: 0;
      position: absolute;
      height: 2px;
      right: 20%;
      background-color: #f9e708;
      bottom: 0px;
 }
 
.section-title p.small{
     display: block;
     font-size: 15px;
     font-weight: 400;
     letter-spacing: 1px;
 }

.text-center{
    text-align: center!important;
 }

 .text-left{
    text-align: left!important;
 }

.text-right{
    text-align: right!important;
 }
 
.mid{
    background-size: cover;
    padding: 40px 0px; 
}

 .mid .section-title h1::before{
    left: 22%;
}

.mid .mid-content{

    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mid .mid-content .box{
    background-color: white;
    padding: 30px;
    flex: 0 0 calc(33.33% - 5px);
    margin-bottom: 30px;
    text-align: center;
}

.mid .mid-content .box .box-under{
    background-color: #ffff00;
    padding: 30px 20px;
    position: relative;
    height: 210px;
    border-radius: 5px ;
}

.mid .mid-content .box .box-under::before{
    content:'';
    height: 4px;
    background-color: #212121;
    position: absolute;
    bottom: 0px;
    width: 60px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: all .5s ease;
}

.mid .mid-content .box .box-under:hover::before{
    width: 100%;
    left: 0%;
}

.mid .mid-content .year{
    padding: 10px;
    width: 220px;
    font-size: 60px;
    background-color: #212121;
    border-radius: 10px;
    margin: 0 auto 20px;
}

.mid .mid-content .year h1{
    color: white;
    font-weight: 900;
}

.mid .mid-content h3{
    padding:30px 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.project{
    background-color: #212121;
    background-size: cover;
    padding: 40px 0px; 
}

.project .section-title{
    color: white;
}

.project .project-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project .project-content .box{
    flex: 0 0 calc(33.3% - 45px);
    margin-bottom: 30px;
}

.project .project-content .box .box-under{
    background-color: #ffff00;
    padding: 30px 20px;
    position: relative;
    height: 230px;
    border-radius: 5px;
}

.project .project-content .box .box-under::before{
    content:'';
    height: 4px;
    background-color: #212121;
    position: absolute;
    bottom: 0px;
    width: 60px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: all .5s ease;
}

.project .project-content .box .box-under:hover::before{
    width: 100%;
    left: 0%;
}

.project .project-content .year{
    padding: 0 0 20px;
    width: 220px;
    font-size: 60px;
}

.project .project-content .year h1{
    color: white;
    font-weight: 900;
}

.project .project-content p{
    padding:0 20px 20px 20px;
    text-align: justify;
    
}

.project .project-content h3{
    padding:30px 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.education{
    padding: 30px 0px;
    background-color: #ffffff;
}

.education .section-title h1::before{
    left: 22%;
}

.education .education-content{
    flex: 0 0 50%;
    padding: 0px 0 0 30px;
}

.education .education-content h1{
    padding: 20px 0;
    background-color: #212121;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    font-weight: 900;
}


.education .education-content h2{
    padding: 50px 0 0;
    font-weight: 700;
    font-size: 40px;
}

.education .education-content h3{
    padding: 10px 0 0;
    font-weight: 200;
    font-size: 20px;
}

.education .img{
    flex: 0 0 50%;
    text-align: center;
}

.skills{
    background-color: #212121;
    padding: 60px 20px;
}

.center{
    align-items: center;
}

.skills .skills-contain{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 30px 20px;
    color: white;
}

.skills .section-title{
   color: white;
}

.skills .section-title p.small{
    display: block;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #53DD6C;
}

.skills figure{
    flex: 0 0 50%;
    max-width: 50%;
}

.skills figure img{
   width: 100%;
   display: flex;
}

.skills figure h1{
    width: 70%;
    margin-top: 100px;
    text-align: center;
    background-color: #ffffff;
 }
 .skills figure h1 .big{
    font-weight: 900;
    font-size: 200%;
    text-align: center;
 }

.skills .skills-contain .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 8px;
}

.skills .skills-contain .skill-box h5{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px;

}

.skills .skills-contain .skill-box .skill-bar{
    height: 8px;
    background-color: white;
    margin-right: 30px;
}

.skills .skills-contain .skill-box .skill-bar .skill-bar-in{
    height: 8px;
    background-color: #f9e708;
}

.skills .skills-contain .skill-box{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 8px;
}

.skills .skills-contain .languange-box h5{
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px;

}

.skills .skills-contain .languange-box .skill-bar{
    height: 8px;
    background-color: white;
    margin-right: 30px;
}

.skills .skills-contain .languange-box .languange-bar .languange-bar-in{
    height: 8px;
    background-color: #f9e708;
}

.contact{
    padding: 30px 0px;
    float: left;
    width: 70%;
}

.contact h1{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
}

.contact .contact-form{
    max-width: 100%;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 10px;
    flex: 0 0 100%;
    margin-left: 10px;
    background-color: #ffff00;
    box-shadow: #212121;
}

.contact .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 30px 10px 10px; 
}

.contact .contact-form .text h2{
    font-weight: 800;
}

.contact .contact-form .space-between{
    justify-content: space-between;
}

.contact .contact-form .up{
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0 30px 0px 10px; 
}

.contact .contact-form .down{
    flex: 0 0 100%;
    max-width: 55%;
    margin: 0 30px 0px 10px; 
}

.contact .contact-form .message{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
}

.contact .contact-form .button-send{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 0;
}

.contact .contact-form textarea.form-control{
    height: 200px;
}

.contact .contact-form .button-send a{
    padding: 12px 20px;
    background-color: #212121;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 30px;
}


textarea{
    width: 96%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 30px 16px 0px;
    resize: vertical;

  }

input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

aside{
    float: right;
    width: 25%;
    background-color: #ffffff;
    padding: 50px 0px;
    color: white;
}

aside h1{
    padding: 5px 30px 10px 30px;
}


aside .box{
    padding: 45px 25px ;
    background-color: #212121;
    border-radius: 10px;
}

aside .img{
    padding-left: 65px;
}

aside .btn{
    display: inline;
    text-decoration: none;
    padding: 25px;
}

aside .btn a{
    font-size: 10px;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: all. 5% ease;
}

aside .social{
    width: 100%;
    align-items: center;
}

aside .social p{
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding-left: 10px;
    display: inline-block;
}

 footer {
    padding: 20px;
    color: white;
    background-color: #212121;
    text-align: center;
    font-weight: bold;
    clear: both;
    
 }


